[submodule "TP/TP1/lib/googletest"]
	path = TP/TP1/lib/googletest
	url = https://github.com/google/googletest
[submodule "TP/TP2/lib/googletest"]
	path = TP/TP2/lib/googletest
	url = https://github.com/google/googletest
[submodule ".\\TP\\TP2.5\\lib\\googletest"]
	path = .\\TP\\TP2.5\\lib\\googletest
	url = https://github.com/google/googletest
[submodule ".\\TP\\TP3\\lib\\googletest"]
	path = .\\TP\\TP3\\lib\\googletest
	url = https://github.com/google/googletest
[submodule ".\\TP\\TP4\\lib\\googletest"]
	path = .\\TP\\TP4\\lib\\googletest
	url = https://github.com/google/googletest
[submodule ".\\Tests\\2018-2019\\T1\\lib\\googletest"]
	path = .\\Tests\\2018-2019\\T1\\lib\\googletest
	url = https://github.com/google/googletest
[submodule ".\\Tests\\2018-2019\\T2\\lib\\googletest"]
	path = .\\Tests\\2018-2019\\T2\\lib\\googletest
	url = https://github.com/google/googletest
[submodule ".\\TP\\TP5\\lib\\googletest"]
	path = .\\TP\\TP5\\lib\\googletest
	url = https://github.com/google/googletest
[submodule ".\\TP\\TP6\\lib\\googletest"]
	path = .\\TP\\TP6\\lib\\googletest
	url = https://github.com/google/googletest
[submodule "Tests/2019-2020/T1/lib/googletest"]
	path = Tests/2019-2020/T1/lib/googletest
	url = https://github.com/google/googletest
[submodule "Tests/2019-2020/T2/lib/googletest"]
	path = Tests/2019-2020/T2/lib/googletest
	url = https://github.com/google/googletest
[submodule ".\\TP\\TP7\\lib\\googletest"]
	path = .\\TP\\TP7\\lib\\googletest
	url = https://www.github.com/google/googletest
[submodule "TP/TP8/lib/googletest"]
	path = TP/TP8/lib/googletest
	url = https://github.com/google/googletest
[submodule "TP/TP9/lib\\googletest"]
	path = TP/TP9/lib\\googletest
	url = https://github.com/google/googletest
[submodule "Tests/2018-2019/T3/lib/googletest"]
	path = Tests/2018-2019/T3/lib/googletest
	url = https://github.com/google/googletest
