[submodule "TP/TP1/lib/googletest"]
	path = TP/TP1/lib/googletest
	url = https://github.com/google/googletest
[submodule "TP/TP2/lib/googletest"]
	path = TP/TP2/lib/googletest
	url = https://github.com/google/googletest
