[submodule "TP/TP1/lib/googletest"]
	path = TP/TP1/lib/googletest
	url = https://github.com/google/googletest
[submodule "TP/TP2/lib/googletest"]
	path = TP/TP2/lib/googletest
	url = https://github.com/google/googletest
[submodule ".\\TP\\TP2.5\\lib\\googletest"]
	path = .\\TP\\TP2.5\\lib\\googletest
	url = https://github.com/google/googletest
[submodule ".\\TP\\TP3\\lib\\googletest"]
	path = .\\TP\\TP3\\lib\\googletest
	url = https://github.com/google/googletest
[submodule ".\\TP\\TP4\\lib\\googletest"]
	path = .\\TP\\TP4\\lib\\googletest
	url = https://github.com/google/googletest
