# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Documents\University\AEDA\FEUP-AEDA\Tests\2019-2020\T1\.idea/dataSources/
/dataSources.local.xml
